body {
    background: linear-gradient(#A8B4A5, #e1ebe5);
 font-family: 'Poppins', sans-serif;
 justify-content: center;
 align-items: center;
  margin: 0;
}

  main {
    margin: 0 auto;
    width: 90%;
  }
  
  header {
    color: #000;
    padding: 0.5em;
    display: flex;
    align-items: center;
   
  }
a{
  text-decoration: none;
color: #000;
}


 ul{
  list-style: none;
 }

 article{
  background-color: #9D6A89;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center; 
  justify-content: center;
  display: block;
  text-align: center;
 }

 section{
  background-color: #EFBC9B;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
 }
 
 h1{
  text-align: center;

 }

 h2{
 text-align: center;
 }

 footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #EE92C2;
  color: #000;
  text-align: center;
  padding: 8px;
}


div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
 /*
.naai-icoon img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

